/*¼ÆËãÆ÷ÑùÊ½*/
#cal_pad {	
	BORDER: 1px solid #CCCCCC; 
	MARGIN: 5px; 	
	WIDTH: 160px;	
	BACKGROUND-COLOR: #ffffff;	
	font-family: Arial,Verdana,Helvetica,sans-serif;
}
#cal_pad TD{
	BORDER: 1px solid #CCCCCC; 
}
#cal_pad A {
	PADDING: 6px 8px 6px 8px;	
	DISPLAY: block; 	
	BACKGROUND: #fafafa;	
	TEXT-ALIGN: center; 
	TEXT-DECORATION: none
}
#cal_pad A:hover {
	BACKGROUND: #e6e6f2
}

#calc {
	display:none;
	background-color:#d3d3d3;
	border:#a8a8a8 solid 1px;
	padding:3px;	
	top:48px;	 right:32px;
	position:absolute;
	width:249px;
	z-index:100;
}

.led{background:#000;padding:5px 5px 6px 5px;}
.led .ledput{background:url(../images/calc_input.gif);width:178px;height:34px;border:none; font-size:25px; font-family:Arial, Helvetica, sans-serif;font-weight:bold;color:#000;line-height:34px; text-indent:5px}
.ledbtn{background:url(../images/calc_input.gif) 0 -39px;width:54px;height:34px;border:none;}
.ledbtn:hover{background-position:-58px -39px;}
.js_num input,.js_op input{background:url(../images/calc_input.gif) 0 -75px;width:55px;height:40px;border:none; font-size:20px; font-weight:bold;font-family:Arial, Helvetica, sans-serif;color:#fff;margin:0 0px 4px 0; cursor:pointer}
.js_op input{background:url(../images/calc_input.gif) 0 -117px;width:55px;height:40px;margin:2px 1px 4px 0;}
.js_num input:hover{background-position:-58px -75px;}
.js_op input:hover{background-position:-58px -117px;}
.js_bg{background:#ebebeb;margin:5px 0 0 0;padding:5px 0 5px 5px;}
.js_num input.js_num_put{background-position:0 -158px;}
.js_num input.js_num_put:hover{background-position:-58px -158px;}
.js_op{width: 56px;margin:0 0 0 3px;float:left;}
.js_op input.js_num_tui{background-position:0 -199px;}
.js_op input.js_num_tui:hover{background-position:-58px -199px;}
