
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>爱记账-统计报表</title>
<link rel="stylesheet" type="text/css" href="css/jquery.datepicker.css"/>
<link rel="stylesheet" type="text/css" href="css/ajz.css?1460973818"/>
</head>

<body>
    <div class="hd">
        <div class="header clearfix">

            <div class="top">
                <h1 class="logo"><a href="/user/index" hidefocus="ture"></a></h1>
                <ul class="nav">
                    <li ><a href="tally.html" hidefocus="ture">首页</a></li>
                    <li class="cur"><a href="daily.html" hidefocus="ture">报表</a></li>
                    <li ><a href="budget.html" hidefocus="ture">预算</a></li>
					<!--<li ><a href="/user/financing" hidefocus="ture">理财</a></li>-->
                    <!--<li ><a href="/user/profile" hidefocus="ture">设置</a></li>-->
                    <!--<li ><a href="javascript:alert('敬请期待！');" hidefocus="ture">手机版</a></li>-->
                </ul>
                <div class="top_quit_box " onmouseover="$(this).find('.top_quit').show()" onmouseout="$(this).find('.top_quit').hide()">
                    <a class="h_btn" hidefocus="ture" href="javascript:;"></a>
                    <div class="top_quit" style="display:none"> <a href="#none" onclick="changeTallytype(1);">传统模式</a> <a href="/user/logout">退出</a> </div>
                </div>
                <!--<div class="avatar">
                                        <span class="avatar_img"><a href="/user/profile" hidefocus="ture"><img src="http://qzapp.qlogo.cn/qzapp/100254874/A2C3638D68D11AB51024BA5DFAA84906/100" /></a></span>
                    <span class="fl">
                        <p class="f14"><a href="/user/profile" hidefocus="ture">倩~</a></p>
                        <p>账龄：1天</p>
                    </span>
                </div>-->
            </div>
        </div>
    </div>
<div class="main simple_main clearfix">
  <div class="jz_title biao_tit">
    <ul>
      <li class="s_t3"><a href="/user/daily/inout"><span></span>收支统计</a></li>
      <li class="s_t4"><a href="/user/daily/year"><span></span>年度报表</a></li>
    </ul>
  </div>
  <div class="box clearfix">
    <input type="hidden" name="starttime" value="2016-04-01" />
    <input type="hidden" name="endtime" value="2016-04-30" />
    <input type="hidden" name="type" value="out" />
    <input type="hidden" name="year" value="" />
    <input type="hidden" name="month" value="" />
    <input type="hidden" name="category_id" value="" />
    <input type="hidden" name="account_id" value="" />
    <input type="hidden" name="typeid" value="" />
    <div class="title">
      <div class="year">
        <input type="text" class="year_text" value="2016" name="tally_yeah"/>
        <a href="#nogo" class="prev_year" id="rcy-up"></a> <a href="#nogo" class="next_year" id="rcy-down"></a> </div>
      <div class="month">
        <ul>
          <li><a href="#nogo" hidefocus="ture" class="prev_month"></a></li>
          <li class="month_list">
            <div class="rcm-box" style=" position:relative;width:250px;overflow:hidden;height:31px; z-index:2">
                            <div style=" position:absolute; z-index:1;width:666px;left: -50px" id="rcm-m">
                <a sid='1' >1月</a><a sid='2' >2月</a><a sid='3' >3月</a><a sid='4' class='on'>4月</a><a sid='5' >5月</a><a sid='6' >6月</a><a sid='7' >7月</a><a sid='8' >8月</a><a sid='9' >9月</a><a sid='10' >10月</a><a sid='11' >11月</a><a sid='12' >12月</a>              </div>
            </div>
          </li>
          <li><a href="#nogo" hidefocus="ture" class="next_month"></a></li>
        </ul>
      </div>
      <div id="right-load" class="list_load_one" style="display:none"> <img width="23" src="images/loading.gif"/> 正在加载中... </div>
      <div class="choose_time" id="rcc-d"> <a href="#nogo">时间范围</a>
        <div class="choose_date" style="display:none" id="rcc-date"> <span class="fl">从</span>
          <input type="text" value="2016-04-04" class="date_text datepicker" name="starttime_tally"/>
          <span class="fl">到</span>
          <input type="text" value="2016-04-18" class="date_text datepicker" name="endtime_tally"/>
          <input type="button" value="确认" class="date_btn" id="rcc-sure"/>
        </div>
      </div>
      <div class="this_month" id="rcc-s"><a href="#nogo" start="2016-04-01" end="2016-04-18">本季</a></div>
      <div class="this_year" id="rcc-y"><a href="#nogo" start="2016-01-01" end="2016-04-18">本年</a></div>
    </div>
    <div class="baobiaobodymain clearfix">
      <div class="mainleft" style="width:940px;">
        <div class="clearfix">
		<p class="selecttj">
          <input name="inout_type" type="radio" value="out" checked="true" />
          支出　　
          <input name="inout_type" type="radio" value="in" />
          收入</p>
        
		</div>
        <div class="mainleftbody" style="">
          <div id="inout_charts">
            <div class="loading"><img  border="0" src="images/loading_c.gif" /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box clearfix" style="display:none" id="list_title">
    <div class="list_title duiz" >
      <ul>
        <li class="l2">记录日期</li>
        <li class="l1">分类</li>
        <li class="l2">金额</li>
        <li class="16">账户</li>
        <li class="l5">说明</li>
      </ul>
    </div>
    <div id="inout_detail" class="daily_list"> </div>
  </div>
</div>
<script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="js/jquery.datepicker.js"></script>
<script type="text/javascript" src="js/ajz_common.js?1460973818"></script>
<div style="display:none">
    <script language="javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb7c500c007e01a013524dc65b52aa8b9' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
<div class="main_ft"></div>
<div class="footer">
  	<p><a href="/index/about" target="_blank">关于爱记账</a> |
            <a href="/index/product" target="_blank">产品介绍</a> |
            <a href="/index/help" target="_blank">帮助中心</a> |
            <a href="/index/thanks" target="_blank">感谢有你</a> |
            <a href="/index/about/link" target="_blank">友情链接</a>
        </p>
  	<p>Copyright 2010-2016 www.ajzhan.com. All Rights Reserved</p>
  	<p>粤ICP备05040000号</p>
	<div class="f_loading" style="display:none" id="all_load"><img  border="0" src="images/loading_c.gif"></div>
</div>
<script type="text/javascript"> 
    $(function(){
        //修改日期
        $(".datepicker").datepicker({
            startdate:'1900-01-01',
            enddate:'2016-04-18'
        });
    });  
</script>
     <script src="js/jquery.artDialog.js?skin=twitter" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.datepicker.js"></script> 
<script type="text/javascript" src="js/fusioncharts.js"></script> 
<script type="text/javascript" src="js/daily_inout.js"></script> 
<script language="javascript">
                                        $(function(){
                                            $(".to").html("笔");
                                        });
                                    </script>
</body>
</html>